@using Microsoft.AspNetCore.Http
@using ShopingCart.Application.Abstraction;
@using ShopingCart.Application.Models.DTOs.CartItemDTOs;
@inject ISessionService Session;
<ul>

    <li>
        @{
            var data = Session.GetObjects("Cart");
            var counter = Session.GetInt32("counter");
            if(data == null)
            {
                @Html.ActionLink("Cart","Items","Index","Items", new { id ="itemCart" });

            }
            else
            {
                @Html.ActionLink("Cart","Cart(" +counter + ")","Index","Items", new { id ="itemCart" })
                ;
            }
         }

    </li>


</ul>