@using ShopingCart.Common;
@model ShopingCart.Application.Models.DTOs.CategoryDTOs.CategoryViewModelReq
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@{
    ViewData["Title"] = "Delete Category";
}
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnsave").click(function () {

            saveCategory();
        });

        $("#btCancel").click(function(){
            RestData();
        });

    });

    function saveCategory() {

        var objData = new FormData();
        from.append("CategoryID", $("#CategoryID").val());
        from.append("CategoryName", $("#CategoryName").val());
        from.append("Description", $("#Description").val());

        $.ajax({
            async:true,
            dataType:JSON,
            type: post,
            contentType:false,
            processData:false,
            url: "@CategoryRoute.Delete/@Model.CategoryID",
            data: objData,
            success:function(data){
                alert(data);
            },
            error:function(error){
                alert(error)
            }
        });
    }
    
    
    function RestData(){
        $("#CategoryID").val(""));
        $("#CategoryName").val(""));
        $("#Description").val(""));
    }

</script>
<form method="post">
    <div class="card mt-4">
        <div class="card-header">
            <h2>@Model.CategoryID</h2>
            Add Category
        </div>
        <div class="card-body">
            <div class="row-cols-1">
                <div class="col-md-8">
                    <dv class="form-group">
                        <label class="label-control" asp-for="CategoryID">Code</label>
                        <input class="form-control" asp-for="CategoryID" id="CategoryID" />
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </dv>
                </div>
                <div class="col-md-8">
                    <dv class="form-group">
                        <label class="label-control" asp-for="CategoryName">Category Name</label>
                        <input class="form-control" asp-for="CategoryName" id="CategoryName" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </dv>
                </div>
                <div class="col-md-8">
                    <dv class="form-group">
                        <label class="label-control" asp-for="Description">Description</label>
                        <input class="form-control" asp-for="Description" id="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </dv>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
            <a asp-action="Index" id="btCancel" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>